############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# Build / Compilations
############################
*.class
out/
build/
target/

############################
# OS
############################
# Windows
Thumbs.db
Desktop.ini
*.exe

# macOS
.DS_Store

# Linux temporary files
*~

############################
# Logs
############################
*.log

############################
# Temp files
############################
*.tmp
*.swp
*.swo
